body, h1, h2, h3, h4, p, a {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
  }
  
  *{
    box-sizing: border-box;
  }
  body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-image: url(https://abrakadabra.fun/uploads/posts/2022-03/1647896010_3-abrakadabra-fun-p-patterni-dlya-saita-besshovnie-9.jpg);
    background-size: center;
  }
  
  .header {
    height: 100vh;
    background-color: #eee;
    background-image: url(https://img.freepik.com/premium-vector/love-background-card-2d-illustration-heart-shaped-frame-feelings-and-celebration-occasion_620329-504.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
  }
  
  .header-title {margin: auto;
    font-size: 140px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h3{
    
  }
  
  .overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
  .content{
    font-size:0;
    width: 790px;
    margin: 100px auto 50px;
  }
  .card{
    background-color: rgba(0, 0, 0, .80);
    box-shadow: 10px 5px 5px;
    margin-right: 90px;
    display: inline-block;
    padding: 45px 45px 70px 45px;
    width: 350px;
    margin-bottom: 60px;
  }
  .card-title{
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    color:rgb(255, 255, 255);
  }
  .no-right-margin{
    margin-right: 0;
  }
  .card-text{
    font-size: 16px;
    color:rgb(255, 255, 255);
  }
  .card-image{
    margin-bottom: 25px;
    width: 100%;
  }
  .footer{
    display: flex;
    height: 300px;
    background-color: black;
  }
  .footer-author{
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 24px;
  }
